		body{
				background-image: url(../img1/d7.jpg);
				background-origin: border-box;
				background-size:100%
				background-repeat: no-repeat;
				position: relative;
				margin: 0;
				padding: 0;	
				width: 1330px;
				margin: 0 auto;
			}
			/*body样式*/
			*{
				margin:0;
				padding: 0;
			}
			
			
			/*表头*/
			#header{			
				width: 100%;
			}
			#nav{
				width: 100%;
				height: 40px;
				//position: fixed;
				//top: 0;
			}
			#navzi{
				width: 1200px;
				margin: 0 auto;
			}
			/*列表里LIa标签样式*/
			a{
				text-decoration: none;
				color:#FFFFFF;
			}
			/*所有ul,li样式无*/
			ul,li{
				list-style: none;
			}
			/*导航里的列表项的样式*/
			#ul1 li{
				width: 200px;
				height: 40px;
				float: left;
				text-align: center;
				line-height: 40px;
				color: #ffffff;
				background:cadetblue;
				position: relative;
				
			}
			/*导航里的列表项设置HOVER属性，设置优先级*/
			#ul1 li:hover{
				background:goldenrod;
				z-index: 999;
			}
			/*移到导航的项时,弹出一个列表*/
			#ul1>li:hover .list1{
				display: block;
			}
			/*弹出的列表样式*/
			.list1{
				position: absolute;
				left: 0;
				top:40px;
				display: none;
			}
			/*弹出的列表li样式*/
			.list1 li{
				width: 200px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				border-top:2px solid #a8a2a2;
			}
			
			div{
				width: 1200px;
				height: 1200px;
				margin: 0 auto;
				position: relative;
			}
			/*主体内容宽高*/
			
			figure{
				position: absolute;
				top: 106px;
				left:490px;
				text-align: center;
				border: 5px dotted darkslategrey;
				border-radius: 20px 20px 20px 20px;
				border-style:dashed solid dashed  solid;
				font-size: 20px; 
				box-shadow: 5px 5px 5px 5px grey; 
				}
				/*墨子头像样式*/
				.div1{
					width: 380px;
					height: 655px;
					position: absolute;
					top: 60px;
					left:0;
					border: 5px dotted darkslategrey;
					border-radius: 20px 20px 20px 20px;
					border-style: solid dashed solid dashed;
					padding: 5px; 
					background-image: url(../img1/d7.jpg);
					box-shadow: 2px 2px 3px 3px gray;
					transition-duration: 2s;
				}
				/*墨子介绍段落样式*/
				.div1:hover{	
					background-image: url(../img1/d6.jpg);
					margin-left: 20px;
					border-style:  dashed solid dashed solid;
					}
				/*鼠标滑过有意想不到的样式*/
				.span1{
					font-size: 30px;
					font-weight: bolder;
				}
				p{line-height: 27px;}
				
				.div2{
					width: 380px;
					height: 655px;
					position: absolute;
					top: 60px;
					right: 0;
					border: 5px dotted darkslategrey;
					border-radius: 20px 20px 20px 20px;
					border-style:  solid dashed solid dashed;
					padding: 5px;  
					background-image: url(../img1/d7.jpg);
					box-shadow: 2px 2px 3px 3px gray;
					transition-duration: 2s;
				}
				/*墨家介绍段落样式*/
				.div2:hover{
					background-image: url(../img1/d6.jpg);
					margin-left: 20px;
				}
				/*鼠标滑过有意想不到的样式*/
				.div3{
					width: 310px;
					height: 320px;
					position: relative;
					top: 391px;
					left:-4px;
					border: 5px dotted darkslategrey;
					border-radius: 110px 110px 110px 110px;
					border-style:  solid dashed solid dashed;
					box-shadow: 5px 5px 5px 5px grey; 
					overflow: hidden;
				}
				/*轮播图*/
				.div8{
					position: absolute;
					top: 0px;
					left:0px;
					width: 700%;
				}
				
				.div3 img{
						width: 320px;height: 320px;
						float: left;
						border-radius: 5px
			             }
			            /* 轮播图图片的排列*/
				.div3:hover{
					border-style:   dashed solid dashed solid ;
				}
				/*轮播图边框样式*/
				.a:hover{
					border: 5px  black;
					border-radius: 20px 20px 20px 20px;
					border-style: dashed;
				}
				figure:hover{
				border-style:  solid dashed solid dashed; 
				
				}
				.a{
					width:250px ;
					height: 320px;
					float: left;
					border: 3px solid black;
					border-radius: 20px 20px 20px 20px;
					margin: 14px;
					text-align: left;
					padding: 5px;
					}
					/*四个思想的样式*/
					.div4{
						width: 1250;height: 300px;
						position: absolute;
						top: 790px;
					}
					/*墨家思想整块位置*/
					b{font-size: 18px;}
					.div2:hover{
					border-style:  dashed solid dashed solid;
					}
					footer {
							width: 1200px;
						 	
						 	background-image: url(../img1/footer.jpg);
						 	background-size: 100% 150px;
						 	height: 150px;
		
					
							margin: 0 auto;
							}
				.footp{
						clear: both;
						text-align: center;
						line-height: 40px;
						padding-top: 40px;
					}
					/*表脚样式*/
					
					
